@tailwind base;
@tailwind components;
@tailwind utilities;

.operate {
  position: relative;
}

.operate-more {
  display: none;
}

.operate:hover .operate-more {
  display: block;
  position: absolute;
  right: 0px;
  top: -30px;
}
